@import "../demo5/src/assets/sass/style";
@import "../demo5/src/assets/sass/pages/login/login-6";
@import "../demo5/src/assets/sass/pages/pricing/pricing-4";
@import "../demo5/src/assets/sass/pages/invoices/invoice-1";
@import "../demo5/src/assets/sass/pages/support-center/home-1";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "~leaflet/dist/leaflet";
@import "~fancybox/dist/css/jquery.fancybox.css";

@import "color";
@import "../demo5/dist/assets/plugins/custom/datatables/datatables.bundle.css";

.required {
    color: #dd2e35
}

.kt-bg-danger {
    background-color: #dd2e35 !important;
    color: white;
}

.kt-bg-success {
    color: white;
}

.card .kt-bg-danger {
    font-weight: bold;
}

.card .kt-bg-warning {
    font-weight: bold;
}

.card .kt-bg-success {
    font-weight: bold;
}

.kt-media.kt-media--xxl span {
    width: 120px;
    height: 120px;
    font-size: 2rem;
}

.kt-media.kt-media--xxxl span {
    width: 170px;
    height: 170px;
    font-size: 2.6rem;
}

.kt-media.kt-media--xxxxl span {
    width: 230px;
    height: 230px;
    font-size: 3.2rem;
}
.kt-media.kt-media--xxxxl img {
    width: 230px;
    height: 230px;
    font-size: 3.2rem;
}

.mt-lg-6 {margin-top: 4.5rem !important;}
.mt-lg-7 {margin-top: 6rem !important;}
.mt-lg-8 {margin-top: 7.5rem !important;}
.mt-lg-9 {margin-top: 9rem !important;}

.mb-lg-6 {margin-bottom: 4.5rem !important;}
.mb-lg-7 {margin-bottom: 6rem !important;}
.mb-lg-8 {margin-bottom: 7.5rem !important;}
.mb-lg-9 {margin-bottom: 9rem !important;}

.tz-gallery {
    position: relative;
    display: inline-block;
}

.tz-gallery .tz-button__delete {
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: auto;
    right: -10px;
    bottom: -5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
    display: none;

    i {
        -webkit-transition: all .3s;
        transition: all .3s;
        color: #74788d;
        font-size: .9rem;
    }
}

