.tz-bg__grad_red { background: linear-gradient(180deg, #FFCDD2 0%, #C62828 100%); }
.tz-bg__grad_pink { background: linear-gradient(180deg, #F8BBD0 0%, #AD1457 100%); }
.tz-bg__grad_purple { background: linear-gradient(180deg, #E1BEE7 0%, #6A1B9A 100%); }
.tz-bg__grad_indigo { background: linear-gradient(180deg, #C5CAE9 0%, #283593 100%); }
.tz-bg__grad_light_blue { background: linear-gradient(180deg, #B3E5FC 0%, #0277BD 100%); }
.tz-bg__grad_green { background: linear-gradient(180deg, #C8E6C9 0%, #2E7D32 100%); }
.tz-bg__grad_yellow { background: linear-gradient(180deg, #FFF9C4 0%, #F9A825 100%); }
.tz-bg__grad_deep_orange { background: linear-gradient(180deg, #FFCCBC 0%, #D84315 100%); }

